<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="footer">
       <p>
            Made with ❤️ By Emmanuel Owusu-Addai
            &copy <%= new Date().getFullYear(); %> Alright reserved.
        </p>
    </div>

    
</body>
</html>